body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: url();
  background-size: cover;
  font-family: 'Poppins', sans-serif;
}
.calendar {
  width: 300px;
  height: auto;
  background: white;
  box-sizing: border-box;
}
.calendar .date {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
  grid-gap: 10px
  box-sizing: border-box;
}
.calendar .date div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 25px;
  color: #000;
}
.calendar .date div.day {
  font-weight: 700;
}
.calendar .date div.day: :first-child,
.calendar .date div.number: :nth-child(7n +1) {

}